<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>CIPS密码管理</title>
        <link rel="stylesheet" type="text/css" href="../css/Common-CSS.css">
        <link rel="stylesheet" type="text/css" href="../css/User-CSS.css">
    </head>
    <body>
        <!--Header-->
        <div class="panel" id="header">
            <!--LOGO-->
            <div class="title" id="logo"><a rel="index.html">CIPS</a></div>
            <!--Name-->
            <div class="title" id="name">密码管理</div>
        </div>
        <div class="userPanel">
            <div id="step1">
                <div class="userInputBlock">
                    <div class="userTextInfo">用户名</div><input type="text" class="inputarea" id="username">
                </div>
                <div class="userInputBlock">
                    <div class="userTextInfo">邮箱地址</div><input type="email" class="inputarea" id="address">
                <div class="userInputBlock">
                    <div class="userTextInfo">邮箱验证码</div><input type="text" class="inputarea" id="vcode">
                <div class="fwbuttonblock">
                    <input type="button" class="commonbutton" id="mailcheck" value="发送邮箱验证码" onclick="checkInfo()" style="visibility: hidden;">
                    <div id="vcodeWaiting" style="visibility: hidden;">请稍等<span id="resttime"></span>s后重新发送验证码</div>
                    <input type="button" class="commonbutton" id="submit" value="确定" onclick="checkVCode()">
                    <span id="mailstatus"></span>
                </div>
            </div>
            <div id="step2">
                <div class="userInputBlock">
                    <div class="userTextInfo">新密码</div><input type="password" class="inputarea" id="password">
                <div class="userInputBlock">
                    <div class="userTextInfo">确认新密码</div><input type="password" class="inputarea" id="confirmpass">
                <div class="fwbuttonblock">
                    <input type="button" class="commonbutton" id="sendmail" value="确认" onclick="changePassword()">
                    <span id="findbackstatus"></span>
                </div>
            </div>
        </div>

        <script>
            function timer(int) {
                int--;
                document.getElementById("resttime").innerHTML = int;
                if (int==0) {
                    window.clearInterval(mytimer);
                    document.getElementById("mailcheck").style.visibility="visible";
                } else {
                    var mytimer=setTimeout(function(){timer(int)},1000);
                }
            }

            function checkact() {
                var emailaddress=document.getElementById("address").value;
                if (emailaddress.length==0) {
                    document.getElementById("mailcheck").style.visibility="hidden";
                } else {
                    document.getElementById("mailcheck").style.visibility="visible";
                }
            }
            
            function checkVCode() {
                var vcode = document.getElementById("vcode").value;
                if (vcode==null) {
                    alert("请输入邮箱验证码");
                } else {
                    var feedback;
                    var vc=new XMLHttpRequest();
                    vc.open("POST","UnifiedAuthentication.php",true);
                    vc.setRequestHeader("Content-type", "application/plain");
                    vc.send(vcode);
                    vc.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        feedback=this.responseText;
                        if (feedback==1) {
                            document.getElementById("step1").style.display = "none";
                            document.getElementById("step2").style.display = "block";
                        } else {
                            document.getElementById("mailstatus").innerHTML = "验证码错误";
                        }
                        }
                    }
                }
            }

            function checkInfo(params) {
                var data = new Object;
                data.username = document.getElementById("username").value;
                data.email = document.getElementById("address").value;
                var feedback;
                var mail = new XMLHttpRequest();
                mail.open("POST","MatchUserData.php",true);
                mail.setRequestHeader("Content-type", "application/json");
                mail.send(data);
                mail.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    feedback=this.responseText;
                    if (feedback==0) {
                        alert("用户名不存在");
                    } else if (feedback==1) {
                        alert("未绑定邮箱或用户名与邮箱不匹配");
                    } else if (feedback==2) {
                        sendmail(email);
                    } else {
                        alert("系统错误"+feedback);
                    }
                    }
                }
            }

            function sendmail(addr){
                if (addr.length==0) {
                    alert("请输入邮箱地址");
                } else {
                    var feedback;
                    var data = new Object;
                    data.username = document.getElementById("username").value;
                    data.addr = addr;
                    var mail=new XMLHttpRequest();
                    mail.open("POST","Mailsend.php",true);
                    mail.setRequestHeader("Content-type", "application/json");
                    mail.send(data);
                    mail.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        feedback=this.responseText;
                        document.getElementById("mailstatus").innerHTML = feedback;
                        if (feedback=="验证码已发送") {
                            timer(60);
                            document.getElementById("vcodeWaiting").style.visibility="block";
                            document.getElementById("mailcheck").style.visibility="hidden";
                            }
                        }
                    }
                }
            }

            function changePassword() {
                var password=document.getElementById("password").value;
                var confirmpass=document.getElementById("confirmpass").value;
                if (password.length==0 || confirmpass.length==0) {
                    alert("您未填写新密码");
                } else {
                    var httpreq=new XMLHttpRequest();
                    var request = {"password":password,"confirmpass":confirmpass};
                    var data=JSON.stringify(request);
                    var feedback;
                    httpreq.open("POST","ChangePassword.php",true);
                    httpreq.setRequestHeader("Content-type", "application/json");
                    httpreq.send(data);
                    httpreq.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        feedback=this.responseText;
                        document.getElementById("findbackstatus").innerHTML = feedback;
                    }
                }
            }
            }
        </script>
    </body>
</html>