<!DOCTYPE html>
<html>
	<head>
        <link rel="stylesheet" type="text/css" href="../css/Common-CSS.css">
        <meta charset="utf-8">
        <meta content="vision Alpha">
        <meta http-equiv="Access-Control-Allow-Origin" content="*">
        <title>CIPS 更新日志</title>
	</head>
	<body>
    <!--Header-->
    <div class="panel" id="header">
        <!--LOGO-->
        <div class="title" id="logo"><a rel="index.html">CIPS</a></div>
        <!--Name-->
        <div class="title" id="name">更新日志</div>
    </div>

    <!--Content-->
    <div>
        <div class="bigVersion" id="mainVer">
            <div class="versionTitle">系统版本</div>
            <div>2021.10.1 Develop Alpha 0.1</div>
            <div>2021.7.8 Develop Alpha0.03</div>
            <div>2021.7.7 Develop Alpha0.02</div>
            <div>2021.7.5 Develop Alpha0.01 新增信息组织（LList）功能</div>
        </div>
        <div class="bigVersion" id="mcontrolVer">
            <div class="versionTitle">MControl功能版本</div>
            <div>2021.10.9 Develop Alpha0.29 新增修改任务持续时间功能；错误修复；UI优化</div>
            <div>2021.10.6 Develop Alpha0.28</div> 
            <div>2021.10.4 Develop Alpha0.27</div> 
            <div>2021.10.1 Develop Alpha0.25</div> 
            <div>2021.9.30 Develop Alpha0.24</div> 
            <div>2021.9.29 Develop Alpha0.23</div>
            <div>2021.9.27 Develop Alpha0.22</div>
            <div>2021.9.21 Develop Alpha0.21</div>
            <div>2021.9.20 Develop Alpha0.20</div>
            <div>2021.9.19 Develop Alpha0.19</div>
            <div>2021.9.15 Develop Alpha0.18</div>
            <div>2021.9.13 Develop Alpha0.17 新增用户功能</div>
            <div>2021.9.12 Develop Alpha0.16</div>
            <div>2021.9.6 Develop Alpha0.11 添加页面色彩</div>
            <div>2021.8.25 Develop Alpha0.10 新增任务进度条（MControl）功能</div>
        </div>
        <div class="bigVersion" id="llistVer">
            <div class="versionTitle">LList功能版本</div>
            <div>2021.10.1 Develop Alpha0.03</div> 
        </div>
    </div>
	</body>
</html>